{% extends 'example.html' %}

{% block content %}
    <div class="page-header">
	   <h1>Using iframes</h1>
    </div>

    <h3>src-less iframe</h3>
    
    <script id="src-less">
        var iframe = document.createElement('iframe');
        iframe.style.width = '250px';
        iframe.style.height = '300px';
        iframe.style.border = 'none';

        var insert = document.getElementById('src-less');
        insert.parentNode.insertBefore(iframe, insert);

        iframe.contentWindow.document.write(
            '<style>body { font-family: "Helvetica Neue", sans-serif; box-shadow: 0 0 5px #888; text-align: center; border: 1px solid #aaa; } h3 { padding: 5px; background-color: #eee; margin: 0 0 10px; }</style>' +
            '<h3>Mikon E90 Digital SLR</h3>' +
            '<img src="{{ url_for('static', filename='camera-stock-150.jpg') }}"/>' +
            '<p>$599.99</p>' +
            '<p>4.3/5.0 &bull; 176 Reviews</p>'
        );
    </script>

    <h3>External iframe</h3>

    <script id="external">
        var iframe = document.createElement('iframe');
        iframe.style.width = '250px';
        iframe.style.height = '300px';
        iframe.style.border = 'none';
        iframe.src = "{{ service_url_for('example', chapter='03', name='rendering-iframes', file='iframe.html') }}";

        var insert = document.getElementById('external');
        insert.parentNode.insertBefore(iframe, insert);
    </script>
{% endblock %}