{% extends 'example.html' %}

{% block content %}

    <div class="page-header">
        <h1>XSS Vulnerability via CSS Example</h1>
    </div>

    <p>This page passes a publisher-defined CSS rule to two iframes via the query string. The rub: this rule contains an XSS exploit that affects certain versions of Internet Explorer.</p>

    <p>
        <code>#00f;x:expression(alert('Hello, World!'));</code>
    </p>

    <h3>Vulnerable</h3>
    <div id="target1"></div>

    <h3>Safe</h3>
    <div id="target2"></div>

    <script>
        // Supposed to be color like #000 but attackers use it to inject their code into an
        // iframe.
        var color = "#00f;x:expression(alert('Hello, World!'))";
        var iframe1 = document.createElement('iframe');

        iframe1.src = 'iframe-vulnerable.html?color=' + encodeURIComponent(color) + '&' + (new Date()).getTime();
        document.getElementById('target1').appendChild(iframe1);

        var iframe2 = document.createElement('iframe');
        iframe2.src = 'iframe-safe.html?color=' + encodeURIComponent(color)  + '&' + (new Date()).getTime();
        document.getElementById('target2').appendChild(iframe2);
    </script>

{% endblock %}