{% extends 'example.html' %}

{% block content %}

    <div class="page-header">
        <h1>XSS Vulnerability via CSS Example</h1>
    </div>

    <p>This page adds two iframe elements to the page, and passes custom CSS rules to those iframes using the query string.</p>

    <div id="target"></div>

    <script>
        var target = document.getElementById('target');

        // Supposed to be color like #000 but attackers use it to inject their code into an
        // iframe.
        var color = "#000;x:expression(alert('Hello, World!'))";
        var iframe1 = document.createElement('iframe');

        iframe1.src = 'iframe-vulnerable.html?color=' + encodeURIComponent(color);
        target.appendChild(iframe1);

        var iframe2 = document.createElement('iframe');
        iframe2.src = 'iframe-safe.html?color=' + encodeURIComponent(color);
        target.appendChild(iframe2);
    </script>

{% endblock %}