{% extends 'example.html' %}

{% block content %}
    <div class="page-header">
        <h1>Outputting HTML</h1>
    </div>

    <h3>document.write</h3>

    <script src="{{ service_url_for('example', chapter='03', name='rendering-html', file='docwrite.js') }}"></script>

    <h3>Appended</h3>
    <script id="stork-widget">
        (function() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.async = true;
            script.src = "{{ service_url_for('example', chapter='03', name='rendering-html', file='append.js') }}?product=1234";
            
            var entry = document.getElementsByTagName('script')[0];
            entry.parentNode.insertBefore(script, entry);
        }());
    </script>
{% endblock %}