{% extends 'example.html' %}

{% block content %}

    <div class="page-header">
        <h1>Deferred widget</h1>
    </div>

    <p> At the bottom of this page is a blue rectangle representing the widget element. Scroll down.
        The JavaScript code on this page will fire an alert once you've reached it and stopped scrolling.</p>

    <style>
    #stork-container {
        height: 300px;
        width: 300px;
        margin-top: 2000px;
        background-color: blue;
    }
    </style>

    <div id="stork-container"></div>

    <script src="{{ url_for('static', filename='deferred.js') }}"></script>
{% endblock %}