{% extends 'example.html' %}

{% block content %}

    <div class="page-header">
        <h1>Cross-Origin Resource Sharing (CORS) Examples</h1>
    </div>

    <h3>Simple CORS Request</h3>
    <p>
        Server responded with:

        <ul id="result">

        </ul>
    </p>

    <p><a href="http://caniuse.com/cors">Browser support for CORS</a></p>

    <script>
    (function() {
        function makeRequest(url, method) {
            var xhr = new XMLHttpRequest();
            if ("withCredentials" in xhr) {
                xhr.open(method, url, true);
            } else if (typeof XDomainRequest != "undefined") {
                xhr = new XDomainRequest();
                xhr.open(method, url);
            } else { // Give up
                xhr = null;
            }
            return xhr;
        }

        var xhr = makeRequest('{{ service_url }}/cors?foo=bar', 'get');
        if (xhr) {
            xhr.onreadystatechange = function (event) {
                if (xhr.readyState !== 4)
                    return
                
                if (xhr.status !== 200)
                    console.log(xhr.responseText);

                var result = 
                    '<li>Body: <code>' + xhr.responseText + '</code></li>';

                document.getElementById('result').innerHTML = result;
            };
            xhr.send();
        }
    })();
    </script>

{% endblock %}