{% extends 'example.html' %}

{% block content %}

    <div class="page-header">
        <h1>Native JSON and Prototype.js</h1>
    </div>

    <p>This example demonstrates how some versions of the <a href="http://www.prototypejs.org/">Prototype.js</a> library can cause incompatible code changes, even on native/default objects like JSON.stringify.</p>

    <h3>On an unmodified page</h3>

    <p><code>JSON.stringify([1, 2, undefined])</code> produces the following output:

    <script>
        document.write('<pre>' + JSON.stringify([1, 2, undefined]) + '</pre>');
    </script>
    
    <h3>After loading Protoype.js</h3>
    <script src="{{ url_for('static', filename='prototype.js') }}"></script>

    <p><code>JSON.stringify([1, 2, undefined])</code> produces the following output:</p>

    <script>
        document.write('<pre>' + JSON.stringify([1, 2, undefined]) + '</pre>');
    </script>
{% endblock %}