{% extends 'example.html' %}

{% block head %}
    {{ super() }}
    
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="page-header">
	   <h1>Appending multiple widgets</h1>
    </div>

    <p>This example includes multiple copies of the script include snippet. Each of these renders its own widget.</p>

    <h3>First</h3>
    <script data-stork-widget>
        (function() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.async = true;
            script.src = 'widget.js?product=1234'
            
            var entry = document.getElementsByTagName('script')[0];
            entry.parentNode.insertBefore(script, entry);
        }());
    </script>

    <h3>Second</h3>
    <script data-stork-widget>
        (function() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.async = true;
            script.src = 'widget.js?product=1234'
            
            var entry = document.getElementsByTagName('script')[0];
            entry.parentNode.insertBefore(script, entry);
        }());
    </script>
{% endblock %}