{% extends 'example.html' %}

{% block head %}
    {{ super() }}
    
    <script src="/static/jquery.js"></script>
{% endblock %}

{% block content %}
	<h1>Appending multiple widgets</h1>

    <p>This example includes multiple copies of the script include snippet. Each of these renders its own widget.</p>

    <h2>First</h2>
    <script data-stork-widget>
        (function() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.async = true;
            script.src = 'widget.js?product=1234'
            
            var entry = document.getElementsByTagName('script')[0];
            entry.parentNode.insertBefore(script, entry);
        }());
    </script>

    <h2>Second</h2>
    <script data-stork-widget>
        (function() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.async = true;
            script.src = 'widget.js?product=1234'
            
            var entry = document.getElementsByTagName('script')[0];
            entry.parentNode.insertBefore(script, entry);
        }());
    </script>
{% endblock %}