{% extends 'example.html' %}

{% block head %}
    {{ super() }}

    <script src="{{ url_for('static', filename='json2.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Passing script arguments</h1>
    </div>

    <p>This example demonstrates a third-party script capturing publisher-defined parameters. 
    Four techniques are used: using the query string, fragment identifier (#), HTML5 data-* attributes, and global variable arrays.</p>

    <h3>Query string</h3>

    <p>
        <code>querystring.js?productId=1337</code>
    </p>

    <pre id="query-string-out"></pre>

    <script>
    (function() {
        var script = document.createElement('script'); 

        script.type  = 'text/javascript';
        script.async = true;
        script.src   = "{{ service_url_for('example', chapter='02', name='passing-args', file='querystring.js') }}?productId=1337";

        var entry = document.getElementsByTagName('script')[0];
        entry.parentNode.insertBefore(script, entry);
    }());
    </script>


    <h3>Fragment identifier (#)</h3>

    <p>
        <code>fragment.js#productId=1337</code>
    </p>

    <pre id="fragment-ident-out"></pre>

    <script>
    (function() {
        var script = document.createElement('script'); 

        script.type  = 'text/javascript';
        script.async = true;
        script.src   = "{{ service_url_for('example', chapter='02', name='passing-args', file='fragment.js') }}#productId=1337";

        var entry = document.getElementsByTagName('script')[0];
        entry.parentNode.insertBefore(script, entry);
    }());
    </script>

    <h3>data-* attributes</h3>

    <p>
        <code>data-stork-productId="1337"</code>
    </p>


    <pre id="data-attr-out"></pre>

    <script data-stork-productId="1337">
    (function() {
        var script = document.createElement('script'); 

        script.type  = 'text/javascript';
        script.async = true;
        script.src   = "{{ service_url_for('example', chapter='02', name='passing-args', file='data-attr.js') }}";

        var entry = document.getElementsByTagName('script')[0];
        entry.parentNode.insertBefore(script, entry);
    }());
    </script>

    <h3>Global variable arrays</h3>

    <p>
        <code>Stork.productId = Stork.productId || [];</code><br/>
        <code>Stork.productId.push(1337);</code>
    </p>

    <pre id="global-var-out"></pre>


    <script>
    var Stork = window.Stork || {};

    (function() {
        Stork.productId = Stork.productId || [];
        Stork.productId.push(1337);

        var script = document.createElement('script'); 

        script.type  = 'text/javascript';
        script.async = true;
        script.src   = "{{ service_url_for('example', chapter='02', name='passing-args', file='globals.js') }}";

        var entry = document.getElementsByTagName('script')[0];
        entry.parentNode.insertBefore(script, entry);
    }());
    </script>
{% endblock %}