{% extends 'layout.html' %}

{% block content %}
    <div class="page-header">
        <h1>Third-party JavaScript: The Examples</h1>
    </div>

    <h3>Chapter 1</h3>
    <ul>
        <li><a href="{{ url_for('example', chapter='01', name='weather-widget', file='index.html') }}">Weather Widget</a></li>
        <li><a href="{{ url_for('example', chapter='01', name='json-and-prototypejs', file='index.html') }}">JSON Natives and Prototype.js</a></li>
    </ul>

    <h3>Chapter 2</h3>
    <ul>
        <li><a href="{{ url_for('example', chapter='02', name='script-blocking', file='index.html') }}">Blocking and Asynchronous Scripts</a></li>
        <li><a href="{{ url_for('example', chapter='02', name='loading-files', file='index.html') }}">Loading Files Dynamically</a></li>
        <li><a href="{{ url_for('example', chapter='02', name='passing-args', file='index.html') }}">Passing Arguments</a></li>
    </ul>

    <h3>Chapter 3</h3>
    <ul>
        <li><a href="{{ url_for('example', chapter='03', name='rendering-html', file='index.html') }}">Rendering HTML</a></li>
        <li><a href="{{ url_for('example', chapter='03', name='rendering-multiple', file='index.html') }}">Rendering Multiple Widget Instances</a></li>
        <li><a href="{{ url_for('example', chapter='03', name='rendering-iframes', file='index.html') }}">Rendering iframes</a></li>
    </ul>

    <h3>Chapter 4</h3>
    <ul>
        <li><a href="{{ url_for('example', chapter='04', name='jsonp', file='index.html') }}">JSONP</a></li>
        <li><a href="{{ url_for('example', chapter='04', name='subdomain-proxy', file='index.html') }}">Subdomain Proxy</a></li>
        <li><a href="{{ url_for('example', chapter='04', name='cors', file='index.html') }}">Cross-Origin Resource Sharing (CORS)</a></li>
    </ul>

    <h3>Chapter 5</h3>
    <ul>
        <li><a href="{{ url_for('example', chapter='05', name='postmessage',    file='client.html') }}">window.postMessage</a></li>
        <li><a href="{{ url_for('example', chapter='05', name='hash-transport', file='client.html') }}">Hash Transport</a></li>
        <li><a href="{{ url_for('example', chapter='05', name='name-transport', file='client.html') }}">Name Transport</a></li>
    </ul>

    <h3>Chapter 6</h3>
    <ul>
        <li><a href="{{ url_for('example', chapter='06', name='detect-cookies', file='index.html') }}">Detecting Third-party Cookies</a></li>
        <li><a href="{{ url_for('example', chapter='06', name='auth-new-window', file='index.html') }}">Setting Cookies in a New Window</a></li>
    </ul>

    <h3>Chapter 7</h3>
    <ul>
        <li><a href="{{ url_for('example', chapter='07', name='simple-xss', file='index.html') }}">Cross-site Scripting (XSS)</a></li>
        <li><a href="{{ url_for('example', chapter='07', name='xss-css', file='index.html') }}">XSS via CSS</a></li>
        <li><a href="{{ url_for('example', chapter='07', name='clickjacking', file='index.html') }}">Clickjacking (UI Redressing)</a></li>
    </ul>

    <h3>Chapter 8</h3>
    <ul>
        <li><a href="{{ url_for('example', chapter='08', name='event-listeners', file='index.html') }}">Event Listeners</a></li>
        <li><a href="{{ url_for('example', chapter='08', name='web-service-api', file='index.html') }}">Web Service APIs</a></li>
    </ul>

    <h3>Chapter 9</h3>
    <ul>
        <li><a href="{{ url_for('example', chapter='09', name='deferred-widget', file='index.html') }}">Deferred widget</a></li>
        <li><a href="{{ url_for('example', chapter='09', name='deferred-avatars', file='index.html') }}">Deferred avatars</a></li>
    </ul>

	<h3>Chapter 10</h3>
	<ul>
		<li><a href="{{ url_for('example', chapter='10', name='qunit', file='index.html') }}">QUnit testing framework</a></li>
		<li><a href="{{ url_for('example', chapter='10', name='hiro', file='index.html') }}">Hiro testing framework</a></li>
	</ul>
{% endblock %}
