{% extends 'example.html' %}

{% block header %}
    <script>
        document.domain = '{{ publisher_domain }}';
    </script>
{% endblock %}

{% block content %}

    <div class="page-header">
	   <h1>Subdomain Proxy Example</h1>
    </div>

    <p>This example uses an iframe proxy to communicate with an API endpoint using AJAX.</p>

    <p>Response:</p>

    <pre><code id="output"></code></pre>

    <script>
        function getProductData(id) {
            var iframe = document.createElement('iframe');
            iframe.src = "{{ publisher_proxy_url_for('example', chapter='04', name='subdomain-proxy', file='proxy.html') }}";
         
            function onready() {
                iframe.contentWindow.jQuery.ajax({
                    method: 'GET',
                    url: 'products.json',
                    data: { product: id },
                    success: function(resp) {
                        document.getElementById('output').innerHTML = resp;
                    }
                });
            }

            if (iframe.addEventListener) {
                iframe.addEventListener('load', onready, false);
            } else {
                iframe.attachEvent('onload', function() {
                    if (/complete|loaded/.test(iframe.readyState))
                        onready();
                });
            }

            document.getElementsByTagName('head')[0].appendChild(iframe);
        }

        getProductData(1337);
    </script>

{% endblock %}