{% extends 'example.html' %}

{% block content %}
    <div class="page-header">
        <h1>window.name Transport Example</h1>
    </div>

    <p>This example communicates with an iframe hosted on a remote domain using the <code>window.name</code> property.

    <script>
        function log(msg) {
            var el = document.getElementById('log');
            el.style.display = 'block';
            el.innerHTML += msg + "\n";
        }

        function start() {
            log('Creating iframe');

            var el = document.createElement('iframe');
            var bd = document.getElementsByTagName('body')[0];
            el.style.display = 'none';
            el.src = "{{ service_url_for('example', chapter='05', name='name-transport', file='server.html') }}";

            var done = false;
            var incoming = function () {
                if (done || (el.readyState && el.readyState != 'complete'))
                    return;

                var name = el.contentWindow.name;
                if (name) {
                    log('Incoming: ' + el.contentWindow.name);
                    done = true;
                }
            };

            el.onload = incoming;
            el.onreadystatechange = incoming;
            bd.appendChild(el);
        }
    </script>

    <div>
        <button class="btn" onclick="start()">Start</button>
    </div>

    <p>
        <pre id="log" style="display:none"></pre>
    </p>

{% endblock %}