<!DOCTYPE html>
<html>
    <script src="{{ service_url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ service_url_for('static', filename='easyxdm/easyXDM.js') }}"></script>
    <script>
        var rpc = new easyXDM.Rpc({}, { 
            local: {
                ajax: function(options, complete) {
                    options.complete = complete;
                    
                    options.headers = {
                        'Referer': document.referer
                    };

                    $.ajax(options);
                }
            },
            remote: {}
        });
    </script>
</html>