{% extends 'example.html' %}

{% block content %}
    <div class="page-header">
        <h1>Hash Transport Example</h1>
    </div>

    <p>This example communicates with an iframe hosted on a remote domain using the browser url's document fragment (hash).

    <script>
        function log(msg) {
            var el = document.getElementById('log');
            el.style.display = 'block';
            el.innerHTML += msg + '\n';
        }

        function start() {
            log('Creating iframe');

            var url = window.location.href.replace(/#.*/, '');

            var el = document.createElement('iframe');
            var bd = document.getElementsByTagName('body')[0];

            el.style.display = 'none';
            el.src = "{{ service_url_for('example', chapter='05', name='hash-transport', file='server.html') }}?" + encodeURIComponent(url);
            
            bd.appendChild(el);

            var listener = function () {
                var hash = window.location.hash;

                if (hash && hash != '#') {
                    log("Incoming: " + decodeURIComponent(hash.replace('#', '')));
                    window.location.href = url + '#';
                }

                setTimeout(listener, 100);
            };

            listener();
        }
    </script>

    <div>
        <button class="btn" onclick="start()">Start</button>
    </div>

    <p>
        <pre id="log" style="display:none"></pre>
    </p>

{% endblock %}