{% extends 'example.html' %}

{% block content %}
    <script src="{{ url_for('static', filename='json2.js') }}"></script>

    <div class="page-header">
		<h1>JSONP Example</h1>
	</div>

	<p>JSONP Response:</p>

	<pre><code id="response"></code></pre>

	<script>
	window.jsonpCallback = function(data) {
		document.getElementById('response').innerHTML = JSON.stringify(data);
	}

	var script = document.createElement('script');
	
	script.type = 'text/javascript';
	script.async = true;
	script.src = '{{ service_url }}/echo.jsonp?callback=jsonpCallback&foo=bar';

	document.body.appendChild(script);
	</script>


    <p>Tested in Chrome 13, Safari 5, Firefox 5, IE 7+, Opera 11.</p>
{% endblock %}