{% extends 'example.html' %}

{% block content %}
    <div class="page-header">
        <h1>Blocking/async script includes</h1>
    </div>
    
    <h3>Blocking example</h3>
    <p>Below this line of text is a standard &lt;script&gt; include that loads a slow-loading JavaScript file. Below that script include is further page content, but it will not appear until the script has finished loading (3 seconds).</p>
    
    <img src="{{ url_for('static', filename='loading.gif') }}"/>
    
    <script src="{{ service_url }}/slow?url={{ service_url_for('example', chapter='02', name='script-blocking', file='removeSpinner.js') }}"></script>
    <p>This part of the document won't render until the script is loaded.</p>
    
    <hr/>
    
    <h3>Async example</h3>
    <p>Now we load the same slow-loading file <em>asynchronously</em> by dynamically creating a &lt;script&gt; element and appending it to the DOM.
    
    <p><img src="{{ url_for('static', filename='loading.gif') }}"/></p>
    <script>
    (function() {
        var script = document.createElement('script');

        script.type  = 'text/javascript';
        script.async = true;

        // Append a timestamp to the script URL so that the browser
        // treats this as a separate file (doesn't cache the response from
        // earlier).
        script.src   = "{{ service_url }}/slow?url={{ service_url_for('example', chapter='02', name='script-blocking', file='removeSpinner.js') }}&" + (new Date()).getTime();

        var entry = document.getElementsByTagName('script')[0];
        entry.parentNode.insertBefore(script, entry);
    }());
    </script>
    
    <p>This content appears even while the script is loading.<p>
{% endblock %}