<!DOCTYPE html>
<html>
    <script src="{{ service_url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ service_url_for('static', filename='easyxdm/easyXDM.js') }}"></script>
    <script>

    function apiTunnel(endpoint, params, callback) {
        var options = {
            url:      '{{ service_url }}/api/' + endpoint,
            data:     params,
            type:     'GET',
            complete: complete,
            headers:  {
                'CameraStork-Publisher-Origin': rpc.origin
            }
        };

        function complete(xhr) {
            var response = {};

            if (xhr.status !== 200)
                response.error = xhr.responseText;
            else
                response.data = JSON.parse(xhr.responseText);

            callback(response);
        }

        jQuery.ajax(options);
    }

    var rpc = new easyXDM.Rpc({}, {
        local: {
            apiTunnel: apiTunnel
        }
    });
    </script>
</html>