{% extends 'example.html' %}

{% block content %}

    <div class="page-header">
	   <h1>Setting Cookies in a New Window</h1>
    </div>

    <p>
        This page is designed to simulate a publisher's website. The iframe hosts
        your third-party application. With third-party cookies disabled, the iframe
        would be incapable of setting cookies to authenticate users. But by opening
        a new window, cookies can be set therein.
    </p>

    <iframe src="{{ service_url_for('example', chapter='06', name='auth-new-window', file='iframe.html' )}}"></iframe>

{% endblock %}