{% extends 'example.html' %}

{% block content %}
    <div class="page-header">
        <h1>window.postMessage Example</h1>
    </div>

    <p>This example communicates with an iframe hosted on a remote domain using the <code>window.postMessage</code> HTML5 API.

    <script>
        function log(msg) {
            var el = document.getElementById('log');
            el.style.display = 'block';
            el.innerHTML += msg + "\n";
        }
  
        function start() {
            log('Creating iframe');

            var el = document.createElement('iframe');
            var bd = document.getElementsByTagName('body')[0];

            el.style.display = 'none';
            el.src = "{{ service_url_for('example', chapter='05', name='postmessage', file='server.html') }}";

            bd.appendChild(el);

            window.addEventListener('message', function (ev) {
                if (ev.origin != '{{ service_url }}')
                    return;

                log("Incoming: " + ev.data);
            });
        }
    </script>
    
    <div>
        <button class="btn" onclick="start()">Start Example</button>
    </div>
    
    <p>
        <pre id="log" style="display:none"></pre>
    </p>

{% endblock %}